html{height:100%;}
body {
    height: 100%;
    font-family: Verdana, Helvetica, sans-serif;
    text-align: left;
    font-size: large;
    margin: 0px;
    padding: 0px;
}
footer {
    border-radius: 1px;
    background-color: rgba(255, 255, 255, 0.7);
    color: #202020;
    font-size: 15px;
    bottom: 3%;
    right: 3px;
    position: fixed;
}
h1 {
    text-align: center;
    font-size: 3em;
    font-weight: 600;
    font-family: "Comic Sans MS", "Comic Sans", Verdana, sans-serif;
    color: #ff9600;
    border-bottom: solid #ff9600 thick;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
h1#banji {
    text-align: right;
    margin: 0px 0px 0px 0px;
}
h1#main_page {
    border-bottom: none;
}
table{
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    border: thin solid black;
    border-collapse: collapse;
}
td, th{
    font-size: 1.5em;
    border: thin dotted grey;
    padding: 5px;
}
caption{
    font-size: 2em;
}
a#classmates {
    color: #ff9600;
    text-decoration: none;
}
a#classmates:hover {
    background-color: #73d8d6;
}
article#main_page{
    text-align: left;
    padding: 10px 30px 100px 30px;
    margin: 10px 30px 10px 300px;
    line-height: 40px;
    font-size: 1.2em;
    display: block;
    text-indent: 2em;
}
article#main_page header{
    text-align: center;
    font-family: "Segoe UI";
    color: red;
    font-weight: bold;
    font-size: 2.0em;
    line-height: 65px;
}
nav ul{
    background-color: rgb(208, 250, 246);
    margin: 10px 10px 0px 10px;
    list-style-type: none;
    padding: 0px;
}
nav ul li {
    display: inline;
    padding: 0px 10px 0px 10px;
    border-right: thin dotted black;
}
nav ul li a{
    text-decoration: none;
}
nav ul li a:link, nav ul li a:visited{
    color: blue;
    font-weight: bold;
}
nav ul li a:hover{
    background-color: #ff9600;
}
aside {
    padding: 10px 10px 250px 10px;
    background-color: blanchedalmond;
    margin: 0px 15px 15px 15px;
    display: block;
    width: 200px;
    float: left;
    border: medium dotted #686868;
}
aside p#news {
    font-size: 1.8em;
    color: red;
    font-weight: bold;
    line-height: 50px;
    font-style: oblique;
}
aside ul li{
    color: orange;
}
div#wishes, div#cats{
    padding-top: 20px;
    margin-top: 20px;
    text-align: center;
}
#map {
    height: 85%;
}
